* {
    font-family: "Montserrat", sans-serif;
}

nav img {
    height: 35px;
    width: 35px;
    padding-right: 5px;
}

nav {
    background-color: transparent !important;
    ;
}

#us {
    background-color: #000000;
}